<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/p3.jpg" alt="Los Angeles"  width="1100" height="500">
        <div class="carousel-caption">
         
          <h3>Server</h3>
          <p>Database servers are used to store and manage databases. </p>
        </div>   
      </div>
      <div class="carousel-item">
        <img src="../../assets/p4.jpg" alt="Chicago" width="1100" height="500">
        <div class="carousel-caption">
        
          <h3>Program</h3>
          <p>Experience is the name everyone gives to their mistakes</p>
        </div>   
      </div>
      <div class="carousel-item">
        <img src="../../assets/p1.jpg" alt="New York" width="1100" height="500">
        <div class="carousel-caption">
          <h3>Coding</h3>
          <p>Everybody should learn to program a computer, because it teaches you how to think.</p>
        </div>   
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

  <section id="about">
    <div class="container">
        <div class="text-intro">
        <h2 style="color: crimson; font-weight: 700;">web development languages</h2>
        <p style="font-size: 17px;">Programmers are in a race with the Universe to create bigger and better idiot-proof programs, while the Universe is trying to create bigger and better idiots.  So far the Universe is winning.</p>
        </div>
    </div>
    </section><br>

  <div class="row row-cols-1 row-cols-md-3 g-4"  style="width: 100%;">
    <div *ngFor="let b of ser" class="col ac" >
      <div class="card">
        <img
          src="{{b.img}}"
          class="card-img-top "
          alt="..."
          style="height: 150px;
          width: 150px;"
        />
        <div class="card-body">
          <h5 class="card-title" style="color: crimson; font-weight: 900;">{{b.work}}</h5>
          <p class="card-text" style="color: black; font-weight: 500;">
           {{b.des}}
          </p>
        </div>
      </div>
    </div>
    </div>

  <section id="about">
    <div class="container">
        <div class="text-intro">
        <h1 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: brown; font-weight: 300;" >Gallery</h1>
        </div>
    </div>
    </section>

    <div class="container page-top">

        <div  class="row">
            <div *ngFor="let i of service" class="col-lg-3 col-md-4 col-xs-6 thumb"><br>
                <a href="{{i.img}}" class="fancybox" rel="ligthbox">
                    <img  src="{{i.img}}" class="zoom img-fluid "  alt="">
                </a>
        </div>
       </div>

  
       <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3" >
          <a class="text-dark" style="font-weight: 800;">&copy;All rights reserved | This Project is made by Sovan Karmakar</a>
        </div>
      </footer>