.img{
    background: url(../../assets/n1.jpg);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.ig{
    background-color: aliceblue;
    border-radius: 14px;
    border: 20px;
}
.con{
    color: #00e7ff;
    font-size:30px ;
}
.in{
    font-size: 20px;
    color:#00e7ff;
}
input,textarea.ng-invalid.ng-touched{border-color:crimson;}
input.ng-valid.ng-touched{border-color: blue;}
input.ng-dirty{border-color: burlywood;}
textarea,input.ng-untouched{border-color:green;}
::placeholder{color: rgb(243, 105, 133);}

.ib{
    color:#d2cc1e ;
    font-weight: 500;
}