<section class="ab">
  
<div class="container-fluid ab">
	<div class="row">
		<div class="col-md-4 col-sm-4 col-xs-12"></div>
		<div class="col-md-4 col-sm-4 col-xs-12">
      
<form [formGroup]='regform' (ngSubmit)="regdata()" class="abc">
  <h2 style="text-align: center; color: #21fff5;">Sign Up</h2>
	<div class="form-group">
    <label style="color: aliceblue;">FirstName:</label>
    <input type="text" class="form-control" formControlName="firstname" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your FirstName">
    <div *ngIf="regform.get('firstname').hasError('required') && regform.get('firstname').touched" style="color: #e0dc59;">FirstName Is Required</div>
    <div *ngIf="regform.controls['firstname'].errors?.minlength" style="color: #e0dc59;">Minimum 4 Character</div>
</div>

<div class="form-group">
    <label style="color: aliceblue;">LastName:</label>
    <input type="text" class="form-control" formControlName="lastname" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your LastName">
    <div *ngIf="regform.get('lastname').hasError('required') && regform.get('lastname').touched" style="color: #e0dc59;">LastName Is Required</div>
    <div *ngIf="regform.controls['lastname'].errors?.minlength" style="color: #e0dc59;">Minimum 4 Character</div>
</div>


  <div class="form-group">
    <label style="color: aliceblue;">Email Address:</label>
    <input type="text" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your email">
    <div *ngIf="regform.get('email').hasError('required') && regform.get('email').touched" style="color: #e0dc59;">Email Is Required</div>
    <div *ngIf="regform.get('email').hasError('pattern') && regform.get('email').touched" style="color: #e0dc59;">Invalid Email</div>
  </div>
  
  <div class="form-group">
    <label style="color: aliceblue;">Password:</label>
    <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="Enter Strong Password">
    <div *ngIf="regform.get('password').hasError('required') && regform.get('password').touched" style="color: #e0dc59;">Password Is Required</div>
    <div *ngIf="regform.get('password').hasError('pattern') && regform.get('password').touched" style="color: #e0dc59;">Invalid password</div>
  </div>
  
  <button type="submit" [disabled]='regform.invalid' class="btn btn-success btn-block">Submit</button>

  <li style="color: aliceblue;">Already Have Account?<a routerLink="../login">Log in</a></li>
</form>
</div>
</div><br>
<footer class="text-center">
  <div class="text-center p-3" >
    <a  style="font-weight: 800; color:#00ffff">&copy;All rights reserved | This Project is made by Sovan Karmakar</a>
  </div>
</footer>
</div>

</section>
