
 <section class="showcase">
	<div class="video-container">
		<video src="../../assets/v1.mp4" autoplay muted loop ></video>
		
	</div>
	<div class="content">
		<h1 style="color: #d8ff00; font-weight: 400;">Glad to see you here</h1>
		<h3 style="color: #e577f3;">First, solve the problem. Then, write the code.</h3>
		<a type="button" style="border: 3px solid #87f308;" class="btn btn-warning text-light btn-banner" routerLink="../signup">Get started</a>
		<footer class="text-center">
			<div class="text-center p-3" >
			  <a  style="font-weight: 800; color: #ff00bc;">&copy;2021 All rights reserved | This Project is made by Sovan Karmakar</a>
			</div>
		  </footer>
	</div>
	
</section>